$em-vliner: .15em;
$em-circle: .9em;
$em-circle-cross-diameter: 2em;
$em-thickness: calc($em-circle-cross-diameter / 10);  

$rem-font:.7em;
$px-check: 14px;
$px-border: calc(var($px-check) *.10);
$px-innercircle: calc(var($px-check) *.4);